<ul class="list-group-flush">
    {% for category in categories %}
        <li>
            <a href="{{ path('category', {'id' : category.id}) }}" >
                {{ category.label }}
            </a>
        </li>
    {% endfor %}


</ul>