{% extends 'base.html.twig' %}

{% block title %}{{ category.label }}{% endblock %}

{% block body %}

    <h1>{{ category.label }}</h1>

    <section class="row">
        {% for traobject in category.traobjects %}
            {% include'traobject/card.html.twig' with {'traobj' : traobject} only %}
        {% endfor %}
    </section>

{% endblock %}
