{% extends "base.html.twig" %}
<article class="col-md-3">
    <div class="card object-card">
        <span class="badge badge-primary badge-found"><i class="fa fa-map-pin"></i> Trouvé</span>
        <img class="card-img-top" src="uploads/keys.jpg" alt="Clés">
        <div class="card-body">
            <h5 class="card-title">Clés rue du général de Gaulle</h5>
            <ul class="object-features">
                <li><a href="#" class="badge" style="background-color: #1480dc;"><i class="fa fa-key"></i> Clés</a></li>
                <li><a href="#" class="badge badge-info"><i class="fa fa-calendar"></i> 19/11/2018</a></li>
                <li><a href="#" class="badge badge-info"><i class="fa fa-map-marker"></i> Brest</a></li>
            </ul>
        </div>
        <a href="object.html" class="card-footer-btn btn btn-primary"><i class="fa fa-eye"></i> Afficher</a>
    </div>
</article>
<article class="col-md-3">
    <div class="card object-card">
        <span class="badge badge-primary badge-lost"><i class="fa fa-map-pin"></i> Perdu</span>
        <div class="card-logo-top" style="background-color: #1480dc;"><i class="fa fa-key"></i></div>
        <div class="card-body">
            <h5 class="card-title">Clés perdues à l'IUT</h5>
            <ul class="object-features">
                <li><a href="#" class="badge" style="background-color: #1480dc;"><i class="fa fa-key"></i> Clés</a></li>
                <li><a href="#" class="badge badge-info"><i class="fa fa-calendar"></i> 12/11/2018</a></li>
                <li><a href="#" class="badge badge-info"><i class="fa fa-map-marker"></i> Vannes</a></li>
            </ul>
        </div>
        <a href="object.html" class="card-footer-btn btn btn-primary"><i class="fa fa-eye"></i> Afficher</a>
    </div>
</article>